<!--The content below is only a placeholder and can be replaced.-->
<H1 class='center'>HUMM la bonne tarte !</H1>
<br><br>
<table>
  <tr>
    <td>Nom</td>
    <td>Fournisseur</td>
    <td>Email fournisseur</td>
    <td>Ingredient</td>
    <td>Description</td>
    <td>Age</td>
    <td>Condition de Conservation</td>
    <td>Prix</td>
  </tr>

  <tr *ngFor="let produit of List; let i = index">
    <td> {{produit.nom | uppercase }} </td>
    <td> {{produit.fournisseur}} </td>
    <td> {{produit.emailFournisseur}} </td>
    <td> {{produit.ingredient}} </td>
    <td> {{produit.description | lowercase }} </td>
    <td> {{produit.age}} </td>
    <td> {{produit.conditionConservation}} </td>
    <td> {{produit.prix | number }}€ </td>
    <button type="button" (click)= "SupprimerListe(i)" >Supprimer</button>
  </tr>
</table>
<br><br>

<style>
  input.ng-invalid {border: 3px blue solid;}
  input.ng-invalid.ng-dirty {border: 3px blue solid;}
</style>

<button type="button" (click)= "AddForm()" >Ajouter un produit</button>

<!-- <form (ngSubmit)="register()" [formGroup]="userForm" [hidden]="formHidden"></form>>
  <div>
    <label>Nom</label>
    <input formControlName="nom">
  </div>
  <div>
    <label>fournisseur</label>
    <input formControlName="fournisseur">
  </div>
  <div>
    <label>age</label>
    <input formControlName="age">
  </div>
  <div>
    <label>description</label>
    <input formControlName="description">
  </div>
  <button type="submit">Register</button>
</form> -->

<router-outlet></router-outlet>